<div class="footer l-box is-center">
   문의하실 내용이 있으시다면 DM을 보내주세요<a
   class="link"
   href="https://www.instagram.com/_.wook/"
   target="_blank"
   >@_.wook</a
 > &
 <a
   class="link"
   href="https://www.instagram.com/_________ggun/"
   target="_blank"
   >@_________ggun</a
 >
  </div>
  </div>
<script src="/common.js"></script>
</body>
  
<script>
  swal('서버 개선 작업 중', '급증하는 트래픽으로 서비스 개선 작업중입니다. \n 6월 15일 (월) 저녁까지 몰쥐에게 시간을 조금만 주세요 찍찍🐭🐭', 'error');
</script>
</html>
