<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:url" content="http://molg.kr" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="인스타 스토리 다운로더 :: 몰쥐 molg" />

    <meta
      property="og:description"
      content="인스타 스토리 몰래보기, 스토리 다운로더, 인스타그램 훔쳐보기, 인스타 백업, 인스타그램"
    />

    <title>인스타 스토리 몰래보기 :: 몰쥐 molg.kr</title>

    <script
      data-ad-client="ca-pub-3133878540141559"
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
    ></script>

    <link rel="stylesheet" href="/common.css" />

    <!-- Don't worry. It's just information for site access statistics.
    We do not collect personal information through Analytics. -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-168169211-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-168169211-1');
    </script>
    <script type="text/javascript" src="//wcs.naver.net/wcslog.js"></script>
    <script type="text/javascript">
      if (!wcs_add) var wcs_add = {};
      wcs_add['wa'] = '68ccfd37f24b48';
      if (window.wcs) {
        wcs_do();
      }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  </head>

  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">
          <img
            alt="File Icons"
            class="pure-img-responsive"
            src="/images/logo.png"
          />
        </a>

        <form class="header-form" method="get" action="/user">
          <div class="pure-g">
            <div class="pure-u-5-6">
              <input
                type="text"
                name="id"
                placeholder="아이디를 입력해주세요"
              />
            </div>
            <div class="pure-u-1-6">
              <button type="submit" class="pure-search-button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
