@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif !important;
  background: #170829;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * ë² ì´ìŠ¤ìŠ¤íƒ€ì¼ì—ì„œ ì¡°ê¸ˆì”© ê³ ì¹˜ê³  ì‹¶ì€ê²ƒë“¤
 */
body {
  line-height: 1.2em;
  color: #f1faee;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #e7e7e7;
}
.pure-menu-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0em 1em;
}

.pure-menu-link:visited {
  color: #000 !important;
}

.pure-menu-link:hover {
  color: #000 !important;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.pure-menu-list {
  right: 0;
  display: inline-block;
  position: absolute;
  height: 50px;
  bottom: 0px;
}

.pure-menu-heading {
  text-transform: none;
}
/*
 * -- LAYOUT STYLES -- 
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * í¼ ì¸í’‹ê³¼ ë¼ë²¨ë“¤
 */
.searchBar {
  border: 1px solid white !important;
  box-shadow: none;
  font-size: 100%;
  text-align: center;
  width: 100%;
  background: #ffffff26;
  margin-bottom: 1em;
  color: white;
}

.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  background: #fff;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
  color: #000;
}

/*
 * -- PURE BUTTON STYLES --
 * ë²„íŠ¼ ìŠ¤íƒ€ì¼
 */
.pure-search-button {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  color: #ffffff;
  border: none;
  padding: 0.58em 1.6em;
  margin: 0px !important;
  border-radius: 5px;
  font-weight: bolder;
  letter-spacing: -0.04em;
  width: 85%;
}

a.pure-button-primary {
  background: white;
  color: #000;
  border-radius: 5px;
  font-size: 120%;
}

/*
 * -- MENU STYLES --
 * ë©”ë‰´ìŠ¤íƒ€ì¼
 */

.home-menu {
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.home-menu {
  background: #fff;
}

.pure-menu.pure-menu-fixed {
  border-bottom: none;
  /* ê³ ì • ë©”ë‰´ëŠ” ì¼ë°˜ì ìœ¼ë¡œ í•˜ë‹¨ì— í…Œë‘ë¦¬ê°€ ìžˆë‹¤. */
  z-index: 4;
  /* ìŠ¤í¬ë¡¤ì˜¤ë²„ íš¨ê³¼ ë•Œë¬¸ì— ì—¬ê¸°ì— ë” ë†’ì€ z-ì¸ë±ìŠ¤ ê°’ í•„ìš”í•˜ë‹¤. */
  text-align: center;
  height: 50px;
}

.home-menu .pure-menu-heading {
  font-family: cursive;
  color: #1d3557;
  font-weight: 400;
  font-size: 100%;
  padding: 0px;
  float: left;
}

.home-menu .pure-menu-heading img {
  width: 3rem;
  height: 2.5rem;
}

.home-menu .pure-menu-selected a {
  color: #000;
}

.home-menu a {
  color: #8a8a8a;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #aecfe5;
}

/*
 * -- SPLASH STYLES --
 * ìŠ¤í”Œëž˜ì‰¬ìª½
 */

.splash-container {
  background: #fafafa;
  z-index: 1;
  overflow: hidden;
  /* "scroll-over" effect */
  width: 100%;
  height: 125vmin;
  top: 0;
  left: 0;
  position: fixed !important;
}

.space {
  margin-top: 2em;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 90%;
  max-width: 550px;
  height: 50%;
  margin: 20px auto;
  position: absolute;
  top: 4em;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  color: #3a3a3a;
  border: 1px solid #e8e8e8;
  background: #e8e8e8;
  padding: 1em 1.2em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  letter-spacing: -0.07em;
  background-image: url(/images/bg.png);
  background-size: 20%;
  background-blend-mode: soft-light;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 40px;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  font-weight: 300;
  color: #3a3a3a;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: -0.03em;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 6%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #170829;
}

.content-wrapper-scroll {
  position: absolute;
  top: 125vmin;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #170829;
}

/* We want to give the content area some more padding */
.content {
  padding: 0em 0em 6em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 500;
  letter-spacing: -0.03em;
}
.content-minihead {
  font-weight: 300;
  font-size: 0.7em;
  letter-spacing: -0.03em;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: #333;
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  margin: 0px;
  color: #d4d4d4;
}

.content-subhead i {
  margin-right: 7px;
}

.l-box p {
  font-size: 0.9em;
  font-weight: 200;
  line-height: 1.5em;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: #2d3e50;
  color: #aaa;
}

/* This is the class used for the footer */
.footer {
  background: #13071f;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #928b8b;
  font-size: 0.3rem;
}

.profile-title {
  margin-bottom: 0.2em;
  margin-top: 1em;
  font-size: 0.9em;
  color: #b9b9b9;
  text-align: center;
}
.profile-username {
  margin-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.3em;
  text-align: center;
  padding: 0px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.3em;
}
.profile-username a {
  color: #e0e0e0;
}
.profile-fullname {
  color: #b9b9b9;
  text-align: center;
  margin-top: 0;
  font-size: 0.7em;
  opacity: 0.6;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile-fullname:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}
.profile-fullname::after {
  content: '\00a0\00a0';
}

.profile-img {
  width: 90%;
  height: auto;
  border-radius: 15px;
  margin: 0 auto;
  border-radius: 50%;
}
.story-title {
  margin: 0;
  font-size: 1rem;
  color: #afafaf;
  background: transparent;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: -0.9px;
  padding: 5px 0px;
}

.img-container {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
}
.img-container .overlay {
  opacity: 0.5;
}
.icon {
  color: #333;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.story-img {
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
}

.tinyWrap {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
.hugeWrap {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

a.link {
  color: #0095f6;
}

.category {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0px;
  border-top: 1px solid #a5a5a5;
}

.category a {
  text-align: center;
  font-weight: 200;
  color: #a5a5a5;
}

.modal-window {
  display: none;
  position: fixed;
  background-color: #3333339e;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 1;
  transition: all 0.3s;
}

.modal-window > div {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}

.modal-close {
  color: #2d2d2d;
  font-size: 1.5rem;
  position: absolute;
  right: 0.4rem;
  text-align: center;
  top: 1.5rem;
  padding: 0px;
  text-decoration: none;
  z-index: 100000;
  border: 0;
  background: transparent;
}

.story-video {
  width: 100%;
  height: 100%;
  max-height: 520px;
}

.download {
  background: transparent;
  border: none;
}

.feed-img {
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 90%;
}

.inner-feed-img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.fa-play-circle,
.fa-clone {
  font-size: 100px;
}

.feed-wrapper {
  margin-bottom: 0.2em;
  margin-top: 1em;
}

.feed-wrapper .feed-header {
  width: 90%;
  margin: 0 auto;
  border-radius: 0 10px 10px;
}

.feed-wrapper .feed-footer {
  max-width: 360px;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 0 0 10px 10px;
}
.feed-wrapper .feed-footer p {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.8em;
  color: #7d7d7d;
  margin: 0;
  text-align: center;
}
.feed-location {
  margin: 0;
  font-size: 0.8rem;
  color: #7d7d7d;
  background-color: #f1f1f1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 10px 10px;
  padding: 0.2rem 0rem;
}

.more {
  padding: 1rem;
}

.more button {
  background: transparent;
  border: transparent;
  color: #ffffff;
  font-size: 25px;
}

.slick-prev {
  left: 5px !important;
  z-index: 999;
}
.slick-next {
  right: 5px !important;
  z-index: 999;
}
/* .slick-dots {
  bottom: 5px !important;
} */
.slick-prev:before,
.slick-next:before {
  color: #000000 !important;
}

.slick-dots li {
  margin: 0 !important;
}

.profile-img-container {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-right: 30px;
}

.profile {
  float: left;
  margin-bottom: 10px;
}

.profile-intro {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding: 0px 10px;
  text-align: left;
}

.more {
  padding: 1rem;
}

.more button {
  background: transparent;
  border: transparent;
  color: #ffffff;
  font-size: 25px;
}

.modal-window > div.modal-container {
  background: #333
}

.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
}

.profile-img-container {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-top: 24px;
}

.profile {
  float: left;
  margin-bottom: 10px;
}

.profile-intro {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding: 5px 10px;
  text-align: left;
}

.last-date {
  height: 12px;
  color: #99a2a2;
  font-size: 0.7em;
}

.last-update button {
  color: #101010;
  border-radius: 20px;
  font-weight: 400;
  font-size: 0.5rem;
  margin-bottom: 5px;
}

/* header search form */
.header-form {
  display: inline-block;
  margin: 0 auto;
  width: 72%;
  height: 100%;
  text-align: center;
  line-height: 36px;
}

.header-form input {
  border-radius: 3px;
  background: #dadada;
  font-size: 100%;
  border: 0px solid #b1b1b1b1;
  margin: 0;
  height: 2rem;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  color: #000;
}

.header-form button {
  padding: 0;
  border-radius: 3px;
  vertical-align: middle;
  height: 2rem;
  width: 90%;
  line-height: 1rem;
}

.header-form button i {
  font-size: 100%;
}

/* story video */
.bar-container {
  position: absolute;
  top: 20px;
  z-index: 999;
  width: 100%;
  background: #333;
}
.bar {
  border: 1px solid #666;
  height: 3px;
  width: 100%;
}

.bar .in {
  height: 100%;
}

@keyframes fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.paused {
  -webkit-animation-play-state: paused !important;
  -moz-animation-play-state: paused !important;
  -o-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  /*    .splash-container {
        height: 500px;
    }*/

  /* We decrease the width of the .splash, since we have more width
    to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }

  .modal-window > div {
    width: 530px;
    height: 100%;
  }

  .feed-wrapper .img-container {
    height: 266px;
  }

  .profile-img-container {
    width: 150px;
    height: 150px;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * ë°ìŠ¤í¬í†± ë° ê¸°íƒ€ ëŒ€í˜• ê¸°ê¸°ì—ì„œëŠ” ì¼ë¶€ ëª¨ë°”ì¼ ë° íƒœë¸”ë¦¿ ìŠ¤íƒ€ì¼ì„ ì˜¤ë²„ë¼ì´ë“œí•œë‹¤.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
  .header-form {
    width: 25%;
  }
}

.fa {
  margin-right: 2px;
}

.backBtn {
  border-radius: 20px;
  margin-top: 8px;
}

.download {
  padding: 0.5rem;
  background: #353535;
  color: #c7c7c7;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 0.4rem;
  border-radius: 5px;
  position: relative;
  bottom: 2.5rem;
}
